.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  gap: 10px;
}

.reqBody, .btn {
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgb(219, 219, 219);
  width: 100%;
}

.btn {
  background-color: rgb(69, 167, 197);
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.btnDelete {
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 20%;
  border: none;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

.radio {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
}

.recette {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card {
  display: flex;
  flex-direction: column;
}

.cardText {
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  font-weight: bold;
}

.cardType {
  color: blue;
}

.cardLink {
  text-decoration: none;
}